{% load static %}
<li>
    <article class="post">
        <a href="{% url "posts-details-page" "the-mountain" %}">
            <img src="{% static "blog/images/mountain.jpeg" %}" alt="pahad-pe-chada-lodu"> 
            <div class="post__content">
                <h3> Mountain Hiking </h3>
                <p>Hi Mountain Hiking is considered as an adventurous activity and it is very fun to do 
                    with a group of friend. Also many people perform it solo. I've never been to any 
                    Mountain Hiking but will surely go on it in the furture.
                </p>
            </div>
        </a>
    </article>
</li>