{% extends "base.html" %}
{% load static %}

{% block title %} 
    Post Details
{% endblock  %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-details.css" %}"> 
{% endblock %} 
{% block content %}
    <section id="summary">
        <h2>Post title</h2>
        <article>
            <img src="{% static "blog/images/mountain.jpeg" alt="post-title" %}">
            <address>By Vishal</address>
            <div> Last updated on <time>December 3rd</time></div>
        </article>
    </section>

    <main>
        <p>Assume you're given a table Twitter tweet data, write a query to obtain a 
            histogram of tweets posted per user in 2022. Output the tweet count per user 
            as the bucket and the number of Twitter users who fall into that bucket.

            In other words, group the users by the number of tweets they posted in 2022 and 
            count the number of users in each group.
        </p>
        <p>Assume you're given a table Twitter tweet data, write a query to obtain a 
            histogram of tweets posted per user in 2022. Output the tweet count per user 
            as the bucket and the number of Twitter users who fall into that bucket.

            In other words, group the users by the number of tweets they posted in 2022 and 
            count the number of users in each group.
        </p>
        <p>Assume you're given a table Twitter tweet data, write a query to obtain a 
            histogram of tweets posted per user in 2022. Output the tweet count per user 
            as the bucket and the number of Twitter users who fall into that bucket.

            In other words, group the users by the number of tweets they posted in 2022 and 
            count the number of users in each group.
        </p>
    </main>

{% endblock %}  